<div class="wrapper">
  <div class="overview">
    <div class="header">Digitales Portemonnaie</div>
    <div class="box total">
      <div class="text">Total</div>
      <div class="balance">
        <div class="amount" [className]="total < 0 ? 'red' : 'black'">{{total | number: '0.2-2'}} &nbsp;</div>
        <div class="currency">{{defaultCurrency}}</div>
      </div>
    </div>
    <div *ngFor="let account of customer?.accounts" class=" box account">
      <div class="bankName"></div>
      <div class="accountType">{{account.accountType == 'Savings' ? 'Sparkonto' : 'Privatkonto'}}</div>
      <div class="balance">
        <div class="amount" [className]="account.amount < 0 ? 'red' : 'black'">{{account.amount | number: '0.2-2'}} &nbsp;</div>
        <div class="currency">{{account.currency}}</div>
      </div>
    </div>
  </div>
</div>
